sudo: required
dist: trusty
language: node_js
node_js:
- '7.5'
env:
  global:
    - GITHUB_ORG="https://GH_TOKEN@github.com/vcorr/wordgame"
    - GITHUB_NAME="vcorr"
    - GITHUB_EMAIL="v.j.corr@gmail.com"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - google-chrome-beta

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start


script:
- npm install -g codecov
- npm install coveralls
- npm install --silent
- ng test --watch=false --code-coverage
- ng build --prod --aot --progress=false --base-href=.
- codecov
- cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js

deploy:
  provider: pages
  project-name: wordgame
  local_dir: dist
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
