@import '~@angular/material/core/theming/all-theme';

@include mat-core();

// Define a theme.
$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);

$theme: mat-dark-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);
